.header-color {
    background: #00b09b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.home-grid {
    /*background: #314755;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #26a0da, #314755);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #26a0da, #314755); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    background: url('https://images.pexels.com/photos/574087/pexels-photo-574087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avator-img {

    border-radius: 50%;
    height: 50%;
    padding: 8em 2em;

}

.banner-text {
    padding: 10em 2em;
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: 60px auto;
    border-radius: 10px;
}

.banner-text h3 {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.banner-text h1 {
    margin: auto;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    font-size: 5em;
    color: white;
    padding: 5px 8px 0;
}

.projects-grid {
    display: flex;
}

/*Contact Page*/

.contact-body {
    margin:auto;
    /*background: gray;*/
    /*background: url('https://images.pexels.com/photos/574087/pexels-photo-574087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background:white;
    position: fixed;
    width: 100%;
    height:100%;
    padding-top: 1em;
}
.contact-grid{
    text-align: center;
    justify-content:center;
    width:80%;
    height:520px;
    /*background: white;*/
    color: #000;
    background: #F7F8F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border:2px solid #000000;
}

.contact-grid p {
    width: 75%;
    margin:auto;
    text-align: justify;
    padding-top:1em;
    font-family: 'Arial', sans-serif;
    font-weight:bold;
    color: #626262;
}
.contact-grid hr {
    border-top:5px dotted black;
    width:50%;
    margin: auto ;
}

/*Contact page*/
/*Resume page*/
.resume-right-col{
    background: #27221F;
    color: white;
    padding:2em;
}

.resume-name{
    padding-top:2em;
    font-family:Roboto;
}
.resume-designation {
    color: gray;
}

.heading-title {
    text-transform: uppercase;
}
@media (min-width: 200px)  and (max-width: 500px) {

    .home-grid {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .avator-img {
        border-radius: 50%;
        margin: -80px 0;
        height: 250px;
    }

    .banner-text {
        padding: 2em;
        background-color: black;
        opacity: .8;
        width: 75%;
        margin: 0;
        border-radius: 10px;
    }

    .banner-text h1 {
        margin: 0 auto;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        padding: 0;
    }

    .banner-text hr {
        border-top: 5px dotted white;
        width: 50%;
        margin: auto;
    }

    .banner-text p {
        text-align: center;
        font-size: 18px;
        color: white;
        padding: 1em;
    }

    .social-links {

        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;
    }

    .social-links i {
        font-size: 3em;
        color: white;
        padding: 2px;

    }

}
